$text-small: 14px!default;

$primary: #005387;
$color-text-dark: #000000!default;
$color-text-light: rgba(168, 179, 191, 0.7)!default;
$color-text-medium: rgba(0, 0, 0, 0.7)!default;
$border-color: rgba(199, 206, 212, 0.2)!default;
$border-color-secondary: #005387!default;