.summary, .form {
    .group {
        margin: 10px;
        .title {
            @extend .h3;
            margin-bottom: 0;
            color: $color-text-medium;
        }
    }

    .field {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
        .label {
            color: $color-text-light;
            margin-bottom: 8px;
            font-size: $text-small;
        }

    }
}
